
.bgimg{
    background-image: url(./crime.jpg);
    height:100vh;
    background-size: cover; 
    background-position:center;
}
.bgimg:after{
    position :absolute;
    content : '';
    top:0;
    left: 0;
    height: 100%;
    width : 100%;
    background:  rgba(0,0,0,0.8);
}


.logincontainer {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 20px;
    background-color: #ffffff;
    width: 30%;
    height: 29em;
    position:absolute;
    text-align: center;
    top: 50%;
    left:50%;
    z-index:999;
    transform: translate(-50%, -50%);
    background:rgba(34, 34, 34, 0.4);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.7)

    
} 

.header{
    color:white;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: sans-serif;
}

.loginform {
    color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 18px;
    
    
}

.loginbtn {
    
    font-size: 18px;
    padding: 5px 10px;
    border: 0;
    color:white;
    cursor: pointer;
    margin-top: 22px;
    width: 30%;

}

.loginbtn:hover {
    background-color: #bcc726;
}
.footer{ 
    color:white;
    margin: 0 0 35px 0;

}