.container{
        width: 95%;
        
        margin-top: 130px;
}

.formlabel{
    float:left;
     color:black;
    font-weight: 700;

}
.collg4{position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.label {
    width: auto
}

.registerbtn {
    font-size: 21px;
    padding: 5px 10px;
    border: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    align-items: center;
/* margin-left: 200px; */
}
.uploadbtn{
    font-size: 15px;
    padding: 5px 10px;
    border: 0;
    color: black;
    cursor: pointer;
    float : left;

}

.viewbtn {
    font-size: 20px;
    padding: 5px 10px;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    float: left;
    margin-left: 30px;
    margin-top: 85px;
}

.comp{
    margin-top: 70px;
    
}