
.bgimg{
    background-image: url(./crime.jpg);
    height:100vh;
    background-size: cover; 
    background-position:center;
}
.bgimg:after{
    position :absolute;
    content : '';
    top:0;
    left: 0;
    height: 100%;
    width : 100%;
    background:  rgba(0,0,0,0.8);
}

.signincontainer {
      /* flex-direction: column; */
      justify-content: center;
      align-items: center;
      margin: auto;
      /* margin-top: 110px; */
      /* margin-right: 45px; */
      padding: 20px 20px;
      background-color: #ffffff;
      width: 30%;
      height: 31em;
      /* border: 1px solid black; */
      position:absolute;
      text-align: center;
      top: 50%;
      left:50%;
      z-index:999;
      transform: translate(-50%, -50%);
      /* background:rgba(72, 71, 77, 0.4); */
      /* background:rgba(56, 55, 55, 0.4); */
      background:rgba(34, 34, 34, 0.4);
      box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.7)
   
}


.header{
    color:white;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: sans-serif;
}

.signupform {
    color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 18px;   
}

.signupbtn {
    
    font-size: 18px;
    padding: 5px 10px;
    border: 0;
    color:white;
    cursor: pointer;
    margin-top: 22px;
    width: 30%;

}

.signupbtn:hover {
    background-color: #bcc726;
}
.footer{ 
    color:white;
    margin: 0 0 35px 0;

}