    .navbarcontainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 5px 5px 5px 5px;
        width: 95%;
        background-color: black;
        position: absolute;
        margin-left: 35px;
    }
    
    .navbar {
        background-color: rgb(74, 74, 202);
        height: 50px;
        border-radius: 6px 6px 6px 6px;
    }
    
    .brand {
        font-size: 25px;
        font-weight: bold;
    }